.menu {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.menu > div {
  gap: 0.5rem;
  justify-content: start;
  width: 60%;
}

.times {
  font-size: 13px;
}

.text {
  font-weight: 550;
}

.currency {
  font-weight: 700;
  color: #f8b602;
}
