.greet-and-search {
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.mainbody {
  position: absolute;
  left: 17.97%;
  right: 23.18%;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  width: 500px;
  height: 60px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.05rem;
  padding: 0 3rem;
}

.search-icon {
  position: absolute;
  top: 19%;
  left: 2%;
}
